<h1 id="tableLabel" class="animated fadeIn fast">Sales by Countrys</h1>
<p>This component demonstrates fetching data from the server.</p>
<p *ngIf="!sales"><em>Loading...</em></p>

<ag-grid-angular
  #myGrid
  style="height: 500px"
  class="ag-theme-alpine"

  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [gridOptions]="gridOptions"
  [cacheOverflowSize]="cacheOverflowSize"
  [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
  [infiniteInitialRowCount]="infiniteInitialRowCount"
  [pagination]=true

  (gridReady)="onGridReady($event)"
  (paginationChanged)="onPaginationChanged($event)">

</ag-grid-angular>


